body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
}

button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

button[type="submit"] {
  background-color: #e0e0e0;
  color: #333;
}

button:hover {
  background-color: #ddd;
}

select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}

li input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
}

li span {
  flex-grow: 1;
  text-align: left;
}

li button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

li button:first-of-type {
  background-color: #d4edda;
  color: #155724;
}

li button:last-of-type {
  background-color: #f8d7da;
  color: #721c24;
}

li button:hover {
  background-color: #ddd;
}
