* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  background-color: burlywood;
}

main {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  height: calc(100% - 120px);
  padding: 25px;
}

.sectionbox {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.section1 {
  width: 100%;
  height: 50%;
  background-color: rgba(137, 43, 226, 0.499);
  color: wheat;
}

.section2 {
  width: 100%;
  height: 50%;
  background-color: rgb(151, 82, 82);
}

footer {
  height: 60px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
}

aside {
  width: 25%;
  background-color: rgb(149, 171, 106);
}

@media screen and (max-width: 1200px) {
  header {
    background: yellow;
  }

  main {
    background: blue;
  }

  .section1 {
    background-color: red;
  }

  .section2 {
    background-color: black;
    color: white;
  }

  aside {
    background-color: aqua;
  }

  footer {
    background-color: green;
  }
}

@media screen and (max-width: 768px) {
  .sectionbox {
    width: 100%;
  }

  aside {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    bottom: 100px;
    right: 50px;
  }

  header {
    background-color: rgb(219, 219, 219);
  }

  main {
    background-color: white;
  }

  .section1 {
    background-color: rgba(218, 165, 32, 0.537);
    color: black;
  }

  .section2 {
    background-color: rgba(127, 255, 212, 0.417);
    color: black;
  }

  footer {
    background-color: bisque;
  }
}
