* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

input[id="btn"] {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  border-bottom: 1px solid black;
  height: 100px;
}

.ul1 {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.ul1 li {
  padding: 10px 20px;
}

main {
  background-color: #ebebeb;
  width: 100%;
  height: calc(100% - 100px);
}

.btn1 {
  display: none;
}

aside {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.296);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translate(100%);
  z-index: 30;
  transition: 0.3s;
}

.ul2 {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  list-style-type: none;
}

.ul2 li {
  padding: 20px;
}

aside label {
  width: 30px;
  height: 30px;
  font-size: 30px;
  padding: 4px 0 0 4px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.296);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }
  .ul1 {
    display: none;
  }

  .btn1 {
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background: black;
    color: white;
    bottom: 100px;
    left: 50px;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    z-index: 20;
  }

  input[id="btn"]:checked ~ .contain aside {
    transform: translateX(0);
  }
}
