<section class="prompt">
  <h1>sign in</h1>
  <form>
    <form action="/login" method="post">
      <div>
        <label for="email">email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit">sign in</button>
    </form>
    <a href="/signup">sign up</a>
  </form>
</section>
